

mat-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clickable {
  margin:12px 0 0 5px;
}

.clickable:hover {
  cursor:pointer;
}

button.export-to-excel {
  margin-right: 10px;
}
