mat-row mat-cell:first-child,mat-header-row mat-header-cell:first-child {
  max-width: 40px;
  padding-top: 5px;
}

mat-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clickable {
  margin:12px 0 0 5px;
}

.clickable:hover {
  cursor:pointer;
}

button.export-to-excel {
  margin-right: 10px;
}
