<h1>Items</h1>

<div class="example-container mat-elevation-z8">
  
  <div class="example-header">
    <mat-form-field class="pull-left">
      <mat-select placeholder="Select category" [(ngModel)]="category" (change)="onCategoryChange(category)" [value]="selectedOption">
        <mat-option *ngFor="let category of categories" [value]="category.categoryId">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!--<button mat-raised-button color="primary"  class="pull-left" (click)="openCategoryModal(category)">
      
    </button>-->
    <mat-icon (click)="openCategoryModal()" color="primary" class="example-icon pull-left clickable">mode_edit</mat-icon>

    <mat-form-field class="pull-left filter">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <button mat-raised-button color="primary" class="pull-right" (click)="openItemModal(null)">
      <mat-icon class="example-icon">add</mat-icon>Add item
    </button>

  </div>

  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- OrderNumber Column -->
    <ng-container matColumnDef="orderNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header> OrderNumber </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.orderNumber}} </mat-cell>
    </ng-container>

    <!-- Value Column -->
    <ng-container matColumnDef="value">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Value </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.value}} </mat-cell>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.description}} </mat-cell>
    </ng-container>

    <!-- BarCode Column -->
    <ng-container matColumnDef="barCode">
      <mat-header-cell *matHeaderCellDef mat-sort-header> BarCode </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.barCode}} </mat-cell>
    </ng-container>

    <!-- BarCode Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let item">

        <button color="primary" mat-raised-button (click)="openItemModal(item)">
          <mat-icon class="example-icon">edit</mat-icon> Edit
        </button>

        <button color="accent" mat-raised-button (click)="onDeleteItem(item)">
          <mat-icon class="example-icon">delete</mat-icon> Delete
        </button>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>
