/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

a:focus, a:hover {
 text-decoration: none !important;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-container .example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-column-select {
  overflow: visible;
}

example-container .mat-form-field {
  font-size: 14px;
  width: 100%;
}

.filter {
  margin-left:30px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

button.pull-right {
  margin-top:7px;
}

.example-form {
  /*min-width: 150px;
  max-width: 500px;*/
  width: 100%;
  padding: 0 10px;
}

.example-full-width {
  width: 100%;
}

.mat-column-select {
  overflow: initial;
}

mat-spinner {
  position: absolute;
  left: 40%;
}
