<mat-nav-list>
  <div *ngIf="user.isLoggedIn()">
    <a mat-list-item [routerLink]='["/dashboard"]'><mat-icon class="example-icon">dashboard</mat-icon>  Dashboard </a>
    <a mat-list-item [routerLink]='["/users"]'><mat-icon class="example-icon">person</mat-icon>  Users </a>
    <a mat-list-item [routerLink]='["/items"]'><mat-icon class="example-icon">list</mat-icon>  Items </a>
    <mat-divider></mat-divider>
  </div>

  <div *ngIf="!user.isLoggedIn()">
    <a mat-list-item [routerLink]='["/dashboard"]'> About </a>
    <a mat-list-item [routerLink]='["/contact"]'> Contact </a>
  </div>
 
</mat-nav-list>
