<mat-nav-list>
  <div *ngIf="user.isLoggedIn()">
    <a mat-list-item [routerLink]='["/"]'> Home </a>
    <a mat-list-item [routerLink]='["/"]'> About </a>
    <a mat-list-item [routerLink]='["/contact"]'> Contact </a>
    <mat-divider></mat-divider>
    <a mat-list-item (click)="user.logout()"> Logout </a>
  </div>
  <div *ngIf="!user.isLoggedIn()">
    <a mat-list-item [routerLink]='["/login"]'> Login </a>
    <a mat-list-item [routerLink]='["/register"]'> Register </a>
  </div>
</mat-nav-list>
